@media (max-width: 991px) {

  .navbar__title {
    font-size: 20px;
  }

  .btnMusica {
    font-size: 14px;
  }

  .navbar__menu {
    font-size: 24px;
  }

  .navbar__menu {
    display: flex;
  }
  
  .div__logo {
    visibility: visible;
    height: 30vh;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div__logo .p1 {
    font-weight: bold;
    font-size: 45px;
    color: red;
    text-shadow: #08fdd8 -5px 0px 1px;
  }

  .div__logo .p2 {
    font-weight: bold;
    margin: 10px 0 15px;
  }

  .div__logo h4 {
    color: gray;
    font-size: 14px;
  }

  .navbar__links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.97);
    font-size: 30px;
    margin: 0 -20px;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
  }

  .visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
  }

  .navbar__link {
    padding-left: 0px;
    margin-top: 30px;
  }

  section {
    padding: 75px 0;
  }

  .home {
    flex-direction: column;
  }

  .home__profile {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .home__description {
    margin: 10px 0 0;
  }

  .home__title {
    font-size: 45px;
  }

  .home__title--primary,
  .home__title--secondary {
    font-size: 35px;
  }

  .section__title {
    font-size: 25px;
  }

  .section__title:after {
    width: 110px;
    height: 3px;
  }

  .section__subtitle {
    font-weight: normal;
  }

  .about__description {
    padding-right: 0px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .skill__title {
    grid-column: span 4;
  }

  .about__skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .button--cta {
    margin-bottom: 30px;
  }

  .services__item {
    padding: 15px;
  }

  .services__item h3 {
    margin-bottom: 5px;
  }

  .services__grid,
  .portfolio__grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 767px) {

  /*.home__background {
    background-image: url(../assets/bg-responsive.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }*/

  .navbar__title {
    font-size: 16px;
  }

  .btnMusica {
    font-size: 14px;
  }

  .navbar__menu {
    font-size: 20px;
  }

  section {
    padding: 60px 0;
  }

  .home__profile {
    margin-bottom: 30px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__description {
    margin: 10px 0 0;
  }

  .home__title--primary,
  .home__title--secondary {
    font-size: 25px;
  }

  .skill__title {
    grid-column: span 3;
  }

  .about__skills {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about__description p {
    line-height: 35px;
  }

  .skill__item {
    font-size: 50px;
    padding: 15px 5px;
    min-width: 75px;
  }

  .services__grid,
  .portfolio__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }


  .contact__grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact__item {
    padding: 18px;
    border-radius: 10px;
    transition: all 0.3s;
  }
}